body {

   font-family: Arial, sans-serif;
    background-color: #DEF4D1;
    color: #fff;
    margin: auto;
    padding: auto;
}
    header {
        padding: 20px;
        text-align: center;
        font-size: 5em;
        font-weight: bold;
        text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.5); /* Deslocamento e sombra */
    }
    .menu {
      background-color: #54922E; /* Fundo escuro */
      overflow: hidden;       /* Garante que não há excesso de conteúdo */
    }

    /* Remove as bolinhas e o padding da lista */
    .menu ul {
      list-style-type: none;  /* Remove as bolinhas da lista */
      margin: 0;
      padding: 0;
      display: flex;          /* Faz os itens ficarem lado a lado */
    }

    /* Estilo dos itens da lista */
    .menu ul li {
      margin: 0;
    }

    /* Move os itens para a direita */
    .menu ul li:first-child {
      margin-left: auto;
    }

    /* Estilo dos links */
    .menu ul li a {
      display: block;
      color: white;         /* Cor do texto branco */
      text-align: center;     /* Alinha o texto ao centro */
      padding: 14px 20px;     /* Espaçamento interno */
      text-decoration: none;  /* Remove sublinhado */
    }

   
    .menu ul li a:hover {
      background-color: #00ff4c; /* Muda a cor de fundo ao passar o mouse */
    }